{% extends 'base.html' %}

{% block content %}

</br></br></br>

<div class="registration-form">
    <div class="form-icon">
        <span><i class="fa fa-thin fa-computer"></i></span>
    </div>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            Login into your account
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control item" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" name="password" placeholder="Password">
            </div>
            <div class="text-center">
                <button type='submit' class='btn btn-block form-button'>Login</button>
            </div>
            <br><br>
            <div class="text-center"> 
                Don't have an account?
                <br>
                <a class="btn btn-block form-button" href="{% url 'register' %}">
                    <i class="fa fa-light fa-user"></i>
                    Register
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}