{% extends 'base.html' %}
{% load static %}

{% block content %}

</br></br></br>

<div class="registration-form">
    <div class="form-icon">
        <span><i class="fa fa-thin fa-computer"></i></span>
    </div>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type='submit' class='btn btn-block form-button'>
                    <i class="fa fa-solid fa-user-plus"></i>
                    Register
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock %}