{% extends 'base.html' %}


{% block content %}
{% load cloudinary %}
{% cloudinary photo.image THUMBNAIL %}
</br></br></br>



<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 align-items-start">
            {% for post in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="{% url 'pc-details' post.pk %}">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="{{post.feature_image.url}}" preserveAspectRatio="xMidYMid slice"
                            focusable="false"></img>
                        <div class="card-body">
                            <p class="card-text">{{post.title}} - {{post.author}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group" href="{% url 'pc-details' post.pk %}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                                <small class="text-body-secondary">{{post.created_on}}</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center mt-4">
            {% if page_obj.has_previous %}
            <a class="btn btn-primary btn-sm" href="?page=1">&laquo; First</a>
            <a class="btn btn-primary btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="btn btn-primary btn-sm disabled">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a class="btn btn-primary btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-primary btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}