{% extends 'base.html' %}
{% load static %}


{% block content %}
{% load cloudinary %}

<br><br><br>

<div class="album py-3 bg-body-tertiary home-background">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Filter By
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li class="dropdown-header">
                                    CPU:
                                    {% for item in cpu_filter_menu %}
                                    <a class="dropdown-item" href="{% url 'cpuman' item %}">{{ item }}</a>
                                    {% endfor %}
                                </li>
                                <li class="dropdown-header">
                                    GPU:
                                    {% for item in gpu_filter_menu %}
                                    <a class="dropdown-item" href="{% url 'gpuman' item %}">{{ item }}</a>
                                    {% endfor %}
        
                            </ul>
                          </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 align-items-start">
            {% for post in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" height="225"
                            src="{{post.feature_image.url}}" alt="Feature image"></img>
                        <div class="card-body">
                            <p class="card-text">{{ post.title }}</p>
                            <p class="card-text">By: {{ post.author }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'pc-details' post.pk %}" class="btn view-btn">View</a>
                                </div>
                                <small class="text-body-secondary">{{post.created_on}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        <div class="pagination_rounded justify-content-center mt-4">
            <ul>
                <li>
                    {% if page_obj.number > 2 %}
                        <a class="prev" href="?page=1">
                            1
                        </a>
                    {% endif %}
                </li>
                {% if page_obj.number > 3 %}
                <li>
                    <span class="ellipses">...</span>
                </li>
                {% endif %}
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number >= page_obj.number|add:'-1' and page_number <= page_obj.number|add:'1' %} 
                        <li>
                            <a {% if page_number == page_obj.number %}class="active" {% endif %} href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %} 
                <li>
                    <span class="ellipsis">...</span>
                </li>
                {% endif %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
                <li>
                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}