{% extends 'base.html' %}
{% load static %}


{% block content %}

<br/>
<br/>
<div class="album py-3 bg-body-tertiary home-background">
    <h1>{{ post.title }}</h1>
    <h4>By:{{ post.author }}</h4>
    <div id="indicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <ul class="carousel-indicators">
          <li data-bs-target="#indicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#indicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#indicators" data-bs-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{post.feature_image.url}}" class="d-block mx-auto detail-image" alt="Primary image of PC">
          </div>
          <div class="carousel-item">
            <img src="{{post.secondary_image.url}}" class="d-block mx-auto detail-image" alt="Secondary image of PC">
          </div>
          <div class="carousel-item">
            <img src="{{post.tertiary_image.url}}" class="d-block mx-auto detail-image" alt="Third image of PC">
          </div>
        </div>
        <a class="carousel-control-prev" href="#indicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#indicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      <div class="part-list">
        <div class="part-group">
            <ul class="parts">
                <li>
                    <h5>Components:</h5>
                </li>
                <li class="form-control item center">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-cpu.png' %}" alt="cpu"/>
                    <p class="part-info">CPU:</p>
                    <p class="part-info">{{post.cpu_manufacturer}}  |  {{post.cpu}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-cooler.png' %}" alt="cpu-cooler"/>
                    <p class="part-info">CPU Cooler:</p>
                    <p class="part-info">{{post.cpu_cooler}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-motherboard.png' %}" alt="motherboard"/>
                    <p class="part-info">Motherboard:</p>
                    <p class="part-info">{{post.motherboard}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-computer-ram.png' %}" alt="ram"/>
                    <p class="part-info">Memory (RAM):</p>
                    <p class="part-info">{{post.ram}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-hard-drive.png' %}" alt="hard-drive"/>
                    <p class="part-info">Storage:</p>
                    <p class="part-info">{{post.storage}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-video-card.png' %}" alt="gpu"/>
                    <p class="part-info">GPU:</p>
                    <p class="part-info">{{post.gpu_manufacturer}}  |  {{post.gpu}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-power-supply.png' %}" alt="power supply"/>
                    <p class="part-info">Power Supply:</p>
                    <p class="part-info">{{post.psu}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-computer-case.png' %}" alt="case"/>
                    <p class="part-info">Case:</p>
                    <p class="part-info">{{post.case}}</p>
                </li>
                <li class="form-control item">
                    <img class="part-icon" width="30" height="30" src="{% static 'media/images/icons8-fan.png' %}" alt="fan"/>
                    <p class="part-info">Fan(s):</p>
                    <p class="part-info">{{post.fans}}</p>
                </li>
                <li class="form-control item">
                    <a href="{% url 'editpost' post.pk %}">Edit Post</a>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}